<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BrandMapper">

    <!--根据用户Id查询用户的角色-->
    <select id="findById" resultType="com.sqt.goods.pojo.TbBrand" parameterType="long">
        SELECT * FROM `tb_brand`
        WHERE id = #{id}
    </select>
    <!--查询符合条件所有商品品牌列表-->
    <select id="findAll" resultType="com.sqt.goods.pojo.TbBrand" parameterType="com.sqt.goods.pojo.TbBrand">
        SELECT * FROM `tb_brand`
        where 1=1
        <if test="null != #{firstChar} ">
            AND `first_char` like '%${firstChar}%'
        </if>
        <if test="null != #{name}">
            AND `name` like  '%${name}%'
        </if>
    </select>
    <!--增加商品品牌-->
    <insert id="add" parameterType="com.sqt.goods.pojo.TbBrand">
        INSERT INTO `tb_brand` ( `name`, `first_char`)
        VALUES ( #{name}, #{firstChar});
    </insert>
    <!--更新商品品牌-->
    <update id="edit"  parameterType="com.sqt.goods.pojo.TbBrand">
        UPDATE `tb_brand`
        SET  `name`=#{name}, `first_char`=#{firstChar}
        WHERE `id`=#{id};
    </update>
    <!--删除商品品牌-->
    <delete id="delete" parameterType="long">
        DELETE FROM `bigstore`.`tb_brand`
        WHERE `id` = #{id};
    </delete>
    <select id="findBrandList" resultType="map">
        SELECT
          `id`,
          `name` as text
        FROM
          `tb_brand`
    </select>
</mapper>