<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SellerMapper">

	<!--添加-->
	<select id="add" parameterType="com.sqt.goods.pojo.TbSeller">
		 insert into tb_seller (seller_id, name, nick_name,
		      password, email, mobile,
		      telephone, status, address_detail,
		      linkman_name, linkman_qq, linkman_mobile,
		      linkman_email, license_number, tax_number,
		      org_number, address, logo_pic,
		      brief, create_time, legal_person,
		      legal_person_card_id, bank_user, bank_name
		      )
	    values (#{sellerId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
		      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
		      #{telephone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR},
		      #{linkmanName,jdbcType=VARCHAR}, #{linkmanQq,jdbcType=VARCHAR}, #{linkmanMobile,jdbcType=VARCHAR},
		      #{linkmanEmail,jdbcType=VARCHAR}, #{licenseNumber,jdbcType=VARCHAR}, #{taxNumber,jdbcType=VARCHAR},
		      #{orgNumber,jdbcType=VARCHAR}, #{address,jdbcType=BIGINT}, #{logoPic,jdbcType=VARCHAR},
		      #{brief,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{legalPerson,jdbcType=VARCHAR},
		      #{legalPersonCardId,jdbcType=VARCHAR}, #{bankUser,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}
		      )
	</select>
	<!--根据相应的条件查询-->
	<select id="query" parameterType="com.sqt.goods.pojo.TbSeller" resultType="com.sqt.goods.pojo.TbSeller">
		select id,seller_id, name, nick_name,
		      password, email, mobile,
		      telephone, status, address_detail,
		      linkman_name, linkman_qq, linkman_mobile,
		      linkman_email, license_number, tax_number,
		      org_number, address, logo_pic,
		      brief, create_time, legal_person,
		      legal_person_card_id, bank_user, bank_name
		  FROM  tb_seller
		  where 1=1
		  <if test="status != null or status != ''">
			  AND  status = #{status}
		  </if>
	</select>
	<!--查询所有商家列表-->
	<select id="findAll" resultType="com.sqt.goods.pojo.TbSeller">
		select id,seller_id, name, nick_name,
		      password, email, mobile,
		      telephone, status, address_detail,
		      linkman_name, linkman_qq, linkman_mobile,
		      linkman_email, license_number, tax_number,
		      org_number, address, logo_pic,
		      brief, create_time, legal_person,
		      legal_person_card_id, bank_user, bank_name
		  FROM  tb_seller
	</select>
	<!--根据id查询-->
	<select id="findOneById" parameterType="long" resultType="com.sqt.goods.pojo.TbSeller">
		select id,seller_id, name, nick_name,
	      password, email, mobile,
	      telephone, status, address_detail,
	      linkman_name, linkman_qq, linkman_mobile,
	      linkman_email, license_number, tax_number,
	      org_number, address, logo_pic,
	      brief, create_time, legal_person,
	      legal_person_card_id, bank_user, bank_name
		  FROM  tb_seller
		  where id = #{id}
	</select>
	<!--更新商家状态-->
	<update id="upStatus" parameterType="map">
		UPDATE
		  `tb_seller`
		SET `status` = #{status}
		WHERE `id` = #{id};
	</update>
	<!--根据帐号查询-->
	<select id="findByName" parameterType="string" resultType="com.sqt.goods.pojo.TbSeller">
		SELECT  id,seller_id, name, nick_name,
	      password, email, mobile,
	      telephone, status, address_detail,
	      linkman_name, linkman_qq, linkman_mobile,
	      linkman_email, license_number, tax_number,
	      org_number, address, logo_pic,
	      brief, create_time, legal_person,
	      legal_person_card_id, bank_user, bank_name
		  FROM  tb_seller
		  where seller_id = #{seller_id}
	</select>
</mapper>