<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentCategoryMapper">

    <!--根据id查询-->
    <select id="findById" resultType="com.sqt.goods.pojo.TbContentCategory" parameterType="long">
        SELECT * FROM `tb_content_category`
        WHERE id = #{id}
    </select>
    <!--查询符合条件列表-->
    <select id="findAll" resultType="com.sqt.goods.pojo.TbContentCategory" parameterType="com.sqt.goods.pojo.TbContentCategory">
        SELECT * FROM `tb_content_category`
        WHERE 1=1
        <if test="null != #{name}  ">
            AND `name` like  '%${name}%'
        </if>
    </select>
    <!--增加-->
    <insert id="add" parameterType="com.sqt.goods.pojo.TbContentCategory">
        INSERT INTO `tb_content_category` ( `name`)
        VALUES ( #{name});
    </insert>
    <!--更新-->
    <update id="edit"  parameterType="com.sqt.goods.pojo.TbContentCategory">
        UPDATE `tb_content_category`
        SET  `name`=#{name}
        WHERE `id`=#{id};
    </update>
    <!--删除-->
    <delete id="delete" parameterType="long">
        DELETE FROM `tb_content_category`
        WHERE `id` = #{id};
    </delete>
</mapper>